{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-1">
        {% if object.logo %}
        <img class="card-img-top" src='{{ object.logo.url }}' style="height: 80px;" alt="...">
        {% else %}
        <img src="{% static 'images/No-Image-Found.png' %}" style="height: 80px;" class="card-img-top" alt="Logo Not Found">
        {% endif %}
    </div>
    <div class="col-md-3">
        <h1>&nbsp &nbsp{{ object.name }}</h1>
        <br>
        <hr>
    </div>
    <div class="col-md-2 col-md-offset-6">
        <a  href="{% url 'add_player' %}" type="button" class="btn btn-primary">Add Player in Team</a>
    </div>
</div>
<br>
<div class="row">
{% for player in players %}
<div class="col-md-3 well col-md-offset-1 " style="width: 25rem;">
    {% if player.image %}
    <img class="card-img-top" src='{{ player.image.url }}' style="height: 140px; width:200px;" alt="...">
    {% else %}
    <img src="{% static 'images/No-Image-Found.png' %}" style="height: 140px;" class="card-img-top" alt="Player Not Found">
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ player.first_name }} {{ player.last_name }}</h4>
        <a href="{% url 'player_detail' player.slug %}" class="btn btn-primary">Detail</a>
    </div>
</div>
{% endfor %}
<div>
{% endblock %}