{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Avalilable Teams</h1>
    </div>
    <div class="col-md-offset-5 col-md-1">
        <a  href="{% url 'add_team' %}" type="button" class="btn btn-primary">Add Team</a>
    </div>
</div>
<br>
<div class="row">
{% for obj in object_list %}
<div class="col-md-3 col-md-offset-1 well" style="width: 25rem;">
    {% if obj.logo %}
    <img class="card-img-top" src='{{ obj.logo.url }}' style="height: 140px; width: 200px; " alt="...">
    {% else %}
    <img src="{% static 'images/No-Image-Found.png' %}" style="height: 140px;" class="card-img-top" alt="Logo Not Found">
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ obj.name }}</h4>
        <a href="{% url 'team_detail' obj.slug %}" class="btn btn-primary">Detail</a>
    </div>
</div>
{% endfor %}
<div>
{% endblock %}