{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Avalilable Matches</h1>
    </div>
    <div class="col-md-offset-5 col-md-1">
        <a  href="{% url 'add_match' %}" type="button" class="btn btn-primary">Fix Match</a>
    </div>
</div>
<br>
<div class="row">
{% for obj in object_list %}
<div class="col-md-3 well col-md-offset-1" style="width: 25rem;">
    {% if obj.team_1.logo %}
    <img class="card-img-top" src='{{ obj.team_1.logo.url }}' style="height: 50px;" alt="...">
    {% else %}
    <img src="{% static 'images/No-Image-Found.png' %}" style="height: 50px;" class="card-img-top" alt="Logo Not Found">
    {% endif %}
    {% if obj.team_2.logo %}
    <img class="card-img-top" src='{{ obj.team_2.logo.url }}' style="height: 50px;" alt="...">
    {% else %}
    <img src="{% static 'images/No-Image-Found.png' %}" style="height: 50px;" class="card-img-top" alt="Logo Not Found">
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ obj.team_1 }} v/s {{obj.team_2}}</h4>
        <a href="{% url 'match_detail' obj.id %}" class="btn btn-primary">Details</a>
    </div>
</div>
{% endfor %}
<div>
{% endblock %}